<html>
    <head>
        <title><%= ejsTitle %> [version <%= ejsVersion %>]</title>
    </head>
    <body>
        <h1><%= ejsTitle %></h1>
        <p>This is a modernized recreation of an old project.</p>
        <nav>
            Navbar here, supposedly.
        </nav>
        <main>
            <ul>
                <% for (let i = 0; i < titles.length; i++) { %>
                    <li>
                        <%= titles[i] %>
                    </li>
                <% } %>
            </ul>
        </main>
        <aside>
            <p>There are <%= titles.length %> articles in this site!</p>
        </aside>
    </body>
</html>